body {
	margin: 20;
	font-family: JetBrains Mono;
}

.quiz {
	width: 600px;
}

.quiz-questions, 
.quiz-indicator {
	margin-bottom: 20px;
}

.quiz-questions-item {
}

.quiz-questions-item__question {
	margin-bottom: 20px;
	font-size: 20px;
}

.quiz-questions-item__answers {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 20px;
}

.btn-restart {
	display: none;
}

.btn-next {
	
}

.resuls {
	display: none;
}

.questions-hidden,
.indicator--hidden,
.btn-next--hidden {
	display: none;
}

.btn-restart--visible,
.indicator--visible {
	display: block;
}
